*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: Nunito, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul .bullets li{
    list-style: default;
    margin-top: 1.5rem;
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

h1{
    letter-spacing: 0.25rem;
}


img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand {
    width: 2rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 650ms ease-in-out;
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
}

.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

.hero {
    width: 100%;
    height: 80vh;
    /* background: linear-gradient(135deg, rgba(245,255,75,1) 0%, rgba(255,249,179,0.8) 62%, rgba(252,252,210,0.8188317563353467) 100%), url("./images/stars.jpg") center no-repeat; */
    background: linear-gradient(135deg, rgb(49, 24, 131, 0.9)0%, rgb(72, 56, 149, 0.8)100%), url("https://images.unsplash.com/photo-1528045315933-9eeb987b9e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80") center no-repeat; 
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -1rem;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.main-message h3 {
    font-size: 1.6rem;
}

.main-message h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-message p {
    text-transform: lowercase;
}

.btn {
    background-color: #eb648c;
    font-weight: bold;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.btn:hover {
    background-color: #fafafa;
    color: #eb648c;
}


/* experience the outdoors */

.experience-outdoor {
    padding: 0;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: 0.4rem 0 1rem 0;
}

.title-heading p {
    text-transform: lowercase;
}

.activities-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-gap: 4.5rem; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.iconify { 
    width: 40px; height: 40px; 
}

.big{
    width: 60px ;
    height: 60px ;
}

.activities-grid-item {
    width: 30rem;
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-out;
    margin-bottom: 1rem;
}

.activities-grid-item:hover {
    box-shadow: 0px 0px 20px #8087e7fb;
    transform: scale(1.05);
}

.activities-grid-item p{
    margin-top: 1rem;
    font-size: 1.45rem;
}

.activities-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(49, 24, 131, 0.9)0%, rgb(72, 56, 149, 0.8)100%);
    z-index: -1;
}

.star-gazing {
    background: url("https://images.unsplash.com/photo-1558021211-6d1403321394?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80") center no-repeat;
}

.activities-grid-item i {
    font-size: 4rem;
    color: #eb648c;
}

.activities-grid-item h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}


/* testimonials */

.testimonials {
    width: 100%;
    height: 120vh;
    background: linear-gradient(135deg, rgb(49, 24, 131, 0.9)0%, rgb(72, 56, 149, 0.8)100%), url("https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80") center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box {
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    padding: 1rem;
    width: 30%;
    margin: auto;
}

.testimonial-text-box i {
    position: absolute;
    top: -8rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 9rem;
    color: #4f1369;
}

.testimonial-text-box p{
    margin-top: 1rem;
    font-size: 1.45rem;
    text-align: justify;
}

.footer-customer img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #4f1369;
    transition: all 0.3s ease-out;
    margin-bottom: 1rem;
}

.footer-customer img:hover {
    transform: scale(1.15);
}

/* Begin adventure */

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.adventure-grid-item p {
    color: rgba(0, 0, 0, 0.699);
}

.achievements {
    font-size: 1.5rem;
}

footer {
    padding: 5rem 0;
    background: #d7d4ed;
    text-align: center;
    color: #4f1369;
}

.footer-customer a{
    color: #4f1369;
}

@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
    }
    .testimonial-text-box {
        width: 100%;
    }
}

@media screen and (min-width: 470px) {
    .hero::before {
        height: 9.4rem;
        background: url("images/wave-medium.png") center no-repeat;
        background-size: cover;
    }
    .testimonials::before {
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png") center no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }
    .nav-brand {
        width: 3.5rem;
    }
    .nav-list {
        width: initial;
        height: initial;
        background: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
        -webkit-transition: initial;
        -moz-transition: initial;
        -ms-transition: initial;
        -o-transition: initial;
    }
    .menu-icons {
        display: none;
    }
    .nav-item {
        margin: 0 2.5rem;
    }
    .nav-link,
    .current {
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }
    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        background-color: #eb648c;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform-origin: left;
        transition: transform 600ms;
        -webkit-transition: transform 600ms;
        -moz-transition: transform 600ms;
        -ms-transition: transform 600ms;
        -o-transition: transform 600ms;
    }
    .current::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
    .nav-link:hover::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
    .hero {
        height: 60vh;
    }
    .main-message {
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);
        -ms-transform: translateY(70%);
        -o-transform: translateY(70%);
    }
    .title-heading h1 {
        font-size: 2.5rem;
    }

    .testimonial-text-box {
        width: 30%;
    }

}

@media screen and (min-width: 950px) {
    .hero::before {
        height: 22.7rem;
        background: url("images/wave-large.png") center no-repeat;
        background-size: cover;
    }
    .testimonials::before {
        height: 22.7rem;
        background: url("./images/wave-large-reversed.png") center no-repeat;
        background-size: cover;
    }
    .main-message {
        transform: translateY(45%);
        -webkit-transform: translateY(45%);
        -moz-transform: translateY(45%);
        -ms-transform: translateY(45%);
        -o-transform: translateY(45%);
    }

    .testimonial-text-box {
        width: 30%;
    }
}

/* =============================== typewriter========================== */

.typewriter {
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}


/* =============================== typewriter========================== */